.main{

}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
    flex-wrap: wrap;
}
.filters {
    display: flex;
    gap: 20px;
    align-items: center;
}
.filterBtn{
    width: 150px;
    height: 40px;
    padding: 0 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    padding: 5px 15px;
}

.table th,
.table td {
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


