@import "./_reset.scss";
@import "./_variables.scss";

body{
    height: 100vh;
}

.grayBg{
    background-color: #e5e0e0;
}

.container{
    padding: 10px 20px;
    max-width: 1600px;
    margin: 0 auto;
}
