.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4f4f4f;
    border-radius: 20px;
    font-size: 25px;
    line-height: 30px;
}
